<hr>

<table class="table-bordered table table-hover">
     <thead>
        <tr>
        <th>Nic</th>
        <th>Name</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Options</th>
        </tr>
     </thead>
    
    <tbody>
        <tr>
            <td>9564554</td>
            <td>Kamal</td>
            <td>Colombo</td>
            <td>25000</td>
            <td>
                <a href="#" class="btn btn-primary">Show Data</a>
                <a href="#" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-warning">Update</a>
            </td>
        </tr>

         <tr>
            <td>756904</td>
            <td>Nimal</td>
            <td>Ratmalana</td>
            <td>55000</td>
            <td>
                <a href="#" class="btn btn-primary">Show Data</a>
                <a href="#" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-warning">Update</a>
            </td>
        </tr>
    </tbody>    
<hr>